<!-- Include the head/header -->
{{ partial "header.html" . }}
        <p>
                Se pensi di non aver nulla da nascondere, sei nel posto giusto: PrivaSì, infatti, nasce per analizzare il discorso privacy da più punti di vista. Non solo quello di sicurezza, bensì anche quello etico, più umano. Per esempio, la domanda che forse dovresti porti non è "cosa mi importa se tanto non ho nulla da nascondere?" ma "perché dovrei condividere con una macchina cose che, se sommate, non direi neanche alla persona più cara?".
        </p>

        <p>
        Attraverso un percorso passo dopo passo, PrivaSì si propone di rispondere a questo e altri quesiti mentre guida la persona nell'utilizzo di mezzi più etici, non invasivi, accompagnandola dall'installazione fino ad eventuali modifiche. Ci si tiene a sottolineare che <i>i quesiti</i> sono il fattore chiave, perché seguire istruzioni senza capirne il senso avrebbe sul lungo corso un effetto controproducente. Ed è proprio per questo che le spiegazioni vengono sempre <i>prima</i> della guida vera e propria, utilizzando un linguaggio semplice per essere compreso da tutte le età. Capire, prima di fare.  
        </p>

        <p>
                Si ricorda inoltre che il progetto è sotto licenza libera, ovvero chiunque è libero di contribuire alla sua stesura, crearne una propria versione e/o ridistribuirla.  
        </p>
        <p>
                Per ulteriori domande, consultate le <a href="./faq/"> FAQ </a> (domande più frequenti).
        </p>
        <p>
                <a href="./percorso/l0-0___intro/"> Inizia il percorso</a>
        </p>
<br>  
  
<h2>
        Contatti
</h2>

<p>
        <a href="https://eticadigitale.org/"> Sito </a>  
</p>
<p>
        <a href="https://t.me/EticaDigitale"> Canale Telegram </a>  
</p>
<p>
        <a href="https://t.me/EticaDigitaleGruppo"> Gruppo Telegram </a>  
</p>
<p>
        <a href="mailto:etica.digitale@mailfence.com"> Mail </a>  
</p>
<p>
        <a href="https://gitlab.com/etica-digitale/privasi"> Contribuisci su Gitlab </a>  
</p>

<!-- Content goes here -->
<div id="content">
</div>

<!-- Include the site info and footer -->
{{ partial "footer.html" . }}
